@page
@using Microsoft.AspNetCore.Mvc.Razor
@model Starbender.Romi.Web.Service.Pages.AboutModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<body>
    <h2>Welcome to ROMI</h2>
    <h2><small>Remote Observatory Management Interface</small></h2>
    <hr>
    <h2>In a galaxy far far away....</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by Dean Fuqua, Oct 29, 2018.</h5>
    <h3><span class="label label-primary">Astrophotography from anywhere</span></h3><br>
    <p>
        Astronomy is my passion. When I was a kid back in the 70s, my mother bought me a <b>huge</b> <i>National Geographic</i> atlas.
        The maps of far-away places like Tibet and Timbuktu fascinated me but it was, of course, the centerfold that mesmerized me.
        Though NatGeo has produced it's share of anatomically revealing pictures, this centerfold was simply titled: <i>The Known Universe</i>.
        I spent uncounted hours trying to wrap my head around the hierarchy of space that it revealed. From the solar system I had learned
        about in school to new things I had never heard of like Groups, Clusters and Super-clusters. At that time I was simply dumbfounded
        at the enormity of it all... and the insignificance of our own neighborhood. The questions came rapid-fire and there were no answers
        to be found, certainly not from my wonderful, loving but hopelessly liberal arts oriented parents. Though I pursued chemistry in
        university and eventually computer science in my career, that feeling of awe and thirst for knowledge about the universe has never
        waned.
    </p>
    <p>
        This site is dedicated to a project I've been working on for a while now. I wanted to get back into astronomy and I've leveraged my
        experience in software development to put together a unified tool to manage all aspects of a remote observatory.
    </p>
    <p>I hope you find it useful.</p>
    <br><br>
</body>
