@page
@using Microsoft.AspNetCore.Mvc.Razor
@model Starbender.Romi.Web.Service.Pages.ContactModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h3>Startbender Systems</h3>
<hr />
<h4>Dean Fuqua</h4>
<address>
    1515 5th Ave<br />
    Suite 460<br />
    Nashville, TN 37208<br />
    <abbr title="Phone">P:</abbr>
    404.717.6821
</address>
<address>
    <strong>Support:</strong> <a href="mailto:Support@starbendersystems.com">Email</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@starbendersystems.com">Email</a>
</address>
