@page
@using Microsoft.AspNetCore.Mvc.Razor
@model Starbender.Romi.Web.Service.Pages.PrivacyModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<p>Use this page to detail your site's privacy policy.</p>
